{% extends 'base.html' %}

{% block title %}Word-Level QE Graph Generator{% endblock %}

{% block styles %}
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div style="height: 50px;"></div>
<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div style="text-align: center;">
            <h2>{{ groupName }} : {{ typeName }}</h2>
        </div>

        <div id="resPanel" style="width: 100%; min-height: 500px; border: 1px solid;"></div>

        <div class="row">
            <div class="col-lg-12 cols-xs-12">
                <div style="padding: 20px; text-align: center;">
                    <button class="btn btn-default btn-sm" id="prevBtn">← prev</button>
                    <button class="btn btn-default btn-sm" id="nextBtn">next →</button>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xs-1"></div>
                    <div class="col-lg-4 col-xs-10">
                        <textarea class="form-control">
【Source】{{ src_no_split }}
【MT】{{ mt_no_blank }}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xs-1"></div>
                    <div class="col-lg-4 col-xs-10">
                        <textarea class="form-control">
{{ mt }}
</textarea>
                    </div>
                </div>

                <div style="padding: 20px; text-align: center;">
                    <h4>Mode: {{ typeName }}</h4>
                    <h4><input type="text" value="{{ index + 1 }}" style="width:50px;" id="jumpToInput" /> / {{ indexLength }}
                        <button class="btn btn-default btn-sm" id="jumpToBtn">Go</button>
                    </h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-xs-3"></div>
            <div class="col-lg-2 col-xs-6">
                <div style="text-align: center; padding:20px;">
                    <div class="form-group">
                        <select class="form-control" id="modeSwitchSelect">
                            {% for tp in allTypes %}
                                <option value="{{ tp }}" {% if typeName == tp %}selected{% endif %}>{{ tp }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-xs-3"></div>
            <div class="col-lg-4 col-xs-6">
                <div style="text-align: center;">
                    <a href="javascript:void(0);" id="toggleAdjustPanel">More Settings</a>
                </div>
                <div id="adjustPanel" style="display: none; background: lightgrey; padding: 10px; border-radius: 5px;">
                    <div class="form-group">
                        <label class="control-label" for="baseGapWidthInput">baseGapWidth</label>
                        <input class="form-control" type="number" id="baseGapWidthInput" value="{{ baseGapWidth }}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="maxHeightInput">MaxHeight</label>
                        <input class="form-control" type="number" id="maxHeightInput" value="{{ maxHeight }}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="fontSizeInput">FontSize</label>
                        <input class="form-control" type="number" id="fontSizeInput" value="{{ fontSize }}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="hideAllGapInput">HideAllGap</label>
                        <input class="form-control" type="number" id="hideAllGapInput" value="{{ hideAllGap }}" />
                    </div>
                    <div style="text-align: center;">
                        <button class="btn btn-primary btn-sm" id="reloadBtn">reload</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div style="padding: 10px; text-align: center;">
                    <a href="/" class="btn btn-default">To Top</a>
                </div>
            </div>
        </div>

    </div>
    <input type="hidden" id="groupNameInput" value="{{ groupName }}" />
    <input type="hidden" id="typeNameInput" value="{{ typeName }}" />
    <input type="hidden" id="indexInput" value="{{ index }}" />
    <input type="hidden" id="srcInput" value="{{ src }}" />
    <input type="hidden" id="mtInput" value="{{ mt }}" />
    {% if source_tags is defined %}
    <input type="hidden" id="sourceTagsInput" value="{{ source_tags }}" />
    {% endif %}
    {% if mtword_tags is defined %}
    <input type="hidden" id="mtWordTagsInput" value="{{ mtword_tags }}" />
    {% endif %}
    {% if gap_tags is defined %}
    <input type="hidden" id="gapTagsInput" value="{{ gap_tags }}" />
    {% endif %}
    {% if src_mt_align is defined %}
    <input type="hidden" id="srcMtAlignInput" value="{{ src_mt_align }}" />
    {% endif %}
    {% if src_gap_align is defined %}
    <input type="hidden" id="srcGapAlignInput" value="{{ src_gap_align }}" />
    {% endif %}

</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='layer/layer.js') }}"></script>
<script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
<script>
    function str2Align(s, isGap=false){
        var strPairs = s.length > 0 ? s.split(/ +/) : [];
        var res = [];
        for(var i=0;i<strPairs.length;i++){
            var pair = strPairs[i].split('-');
            var a = parseInt(pair[0]);
            var b = isGap ? parseInt(pair[1]) / 2 : parseInt(pair[1]);
            res.push([a, b]);
        }
        return res;
    }

    function domExists(domId){
        return $('#' + domId).length > 0;
    }

    function getTokenWidth(token, minWidth, lowerWidth, upperWidth){
        var ans = 0;
        for(i=0;i<token.length;i++){
            if('A' <= token[i] && token[i] <= 'Z'){
                ans += upperWidth;
            }
            else{
                ans += lowerWidth;
            }
        }
        return Math.max(minWidth, ans);
    }

    function loadMyChart(currTypeName){
        // 数据准备
        var srcWords = $('#srcInput').val().split(/ +/);
        var mtWords = $('#mtInput').val().split(/ +/);
        var sourceTags = domExists('sourceTagsInput') ? $('#sourceTagsInput').val().split(/ +/) : [];
        var mtWordTags = domExists('mtWordTagsInput') ? $('#mtWordTagsInput').val().split(/ +/) : [];
        var gapTags = domExists('gapTagsInput') ? $('#gapTagsInput').val().split(/ +/) : [];

        // 配置准备
        var baseGapWidth = parseInt($('#baseGapWidthInput').val());
        var maxHeight = parseInt($('#maxHeightInput').val());
        var wordFontSize = parseInt($('#fontSizeInput').val());
        var hideAllGaps = parseInt($('#hideAllGapInput').val()) > 0;
        var minTokenWidth = wordFontSize / 1.3;
        var lowerCharWidth = wordFontSize / 3;
        var upperCharWidth = lowerCharWidth * 2;
        var srcLength = srcWords.length;
        var mtLength = mtWords.length;

        // 快速切换用变量
        {#var expressAllGaps = true;#}
        var expressAllGaps = false;
        var expressAllAlignments = true;
        {#var expressAllAlignments = false;#}
        var backgroundColor = '#f6f6f6';
        {#var backgroundColor = '#ffffff';#}
        var symbolSize = 40;

        // 绘图基础配置
        var myChart = echarts.init(document.getElementById('resPanel'));
        myChart.clear();
        var option = {
            animationDurationUpdate: 1500,
            animationEasingUpdate: 'quinticInOut',
            backgroundColor: backgroundColor,
            series: [
                {
                    type: 'graph',
                    draggable: true,
                    layout: 'none',
                    symbol: 'rec',
                    symbolSize: symbolSize,
                    itemStyle: {
                        {#color: 'grey',#}
                        color: 'rgba(128, 128, 128, 0)',
                        borderWidth: 0.5
                    },
                    roam: true,
                    focusNodeAdjacency: true,
                    label: {
                        show: true,
                        align: 'center',
                        position: 'inside',
                        rich: {
                            ok_tag: {color: 'green', backgroundColor: 'lightgreen', padding: 2, fontSize: wordFontSize/1.2},
                            bad_tag: {color: 'red', backgroundColor: 'pink', padding: 2, fontSize: wordFontSize/1.2},
                            norm_word: {color: 'black', fontSize: wordFontSize},
                            gap_word: {color: 'lightgrey', fontSize: wordFontSize/1.2},
                            gap_bad_word: {color: 'red', fontSize: wordFontSize/1.2},
                        }
                    },
                    edgeSymbol: ['circle', 'circle'],
                    edgeSymbolSize: [5, 5],
                    data: [],
                    lineStyle: {
                        opacity: 0.8,
                        width: 2,
                        curveness: 0
                    },
                    emphasis: {
                        lineStyle: {
                            width: 5,
                            opacity: 1.0
                        }
                    }
                },
            ]
        };

        // data部分配置
        var myData = [];
        // source
        var pos = 0;
        var prevTokenWidth = 0;
        var currTokenWidth = 0;
        for(i=0;i<srcLength;i++){
            var name = '';
            if (currTypeName !== 'simple'){
                name += (sourceTags[i] === 'OK' ? '{ok_tag|OK}\n' : '{bad_tag|' + sourceTags[i] + '}\n');
            }
            if (srcWords[i].indexOf('|') !== -1){
                srcWords[i] = srcWords[i].replaceAll('|', ' ')
            }
            name += '{norm_word|' + srcWords[i] + '}';
            currTokenWidth = getTokenWidth(srcWords[i], minTokenWidth, lowerCharWidth, upperCharWidth);
            pos += prevTokenWidth / 2 + baseGapWidth * 2 + currTokenWidth / 2;
            myData.push({
                y: 0,
                x: pos,
                name: name,
                id: 'src_' + i.toString(),
            });
            prevTokenWidth = currTokenWidth;
        }
        // MT
        var mtItemCount = 0;
        pos = 0;
        prevTokenWidth = 0;
        currTokenWidth = 0;
        for(var i=0;i<mtLength;i++){

            // MT Gap
            if (!hideAllGaps && currTypeName !== 'simple') {
                var gapName = '';
                if (gapTags[i] === 'OK') {
                    if(expressAllGaps){
                        gapName += '{gap_word|[G]}\n{ok_tag|OK}';
                        currTokenWidth = getTokenWidth('[G]', minTokenWidth, lowerCharWidth, upperCharWidth);
                        pos += prevTokenWidth / 2 + baseGapWidth + currTokenWidth / 2;
                        myData.push({
                            y: maxHeight,
                            x: pos,
                            name: gapName,
                            id: 'gap_' + i.toString(),
                        });
                        prevTokenWidth = currTokenWidth;
                        mtItemCount++;
                    }
                } else {
                    gapName += '{gap_bad_word|[G]}\n';
                    gapName += '{bad_tag|' + gapTags[i] + '}';
                    currTokenWidth = getTokenWidth('[G]', minTokenWidth, lowerCharWidth, upperCharWidth);
                    pos += prevTokenWidth / 2 + baseGapWidth + currTokenWidth / 2;
                    myData.push({
                        y: maxHeight,
                        x: pos,
                        name: gapName,
                        id: 'gap_' + i.toString(),
                    });
                    prevTokenWidth = currTokenWidth;
                    mtItemCount++;
                }
            }

            // MT Word
            var wordName = '';
            wordName += '{norm_word|' + mtWords[i] + '}';
            if (currTypeName !== 'simple'){
                wordName += (mtWordTags[i] == 'OK' ? '\n{ok_tag|OK}' : '\n{bad_tag|' + mtWordTags[i] + '}');
            }
            if(/^[a-zA-Z]+$/.test(mtWords[i])){
                currTokenWidth = getTokenWidth(mtWords[i], minTokenWidth, lowerCharWidth, upperCharWidth);
            }
            else{
                currTokenWidth = getTokenWidth(mtWords[i], minTokenWidth, upperCharWidth, upperCharWidth);  // MT目前是日语或者中文，所以直接用uppper的宽度
            }
            pos += prevTokenWidth / 2 + baseGapWidth + currTokenWidth / 2;
            myData.push({
                y: maxHeight,
                x: pos,
                name: wordName,
                id: 'mtword_' + i.toString(),
            });
            prevTokenWidth = currTokenWidth;
            mtItemCount++;
        }
        // 追加最后一个gap
        if (!hideAllGaps && currTypeName !== 'simple') {
            var gapName = '';
            if (gapTags[mtLength] === 'OK') {
                gapName += '{gap_word|}';
            } else {
                gapName += '{gap_bad_word|[G]}\n';
                gapName += '{bad_tag|' + gapTags[mtLength] + '}';
                currTokenWidth = getTokenWidth('[G]', minTokenWidth, lowerCharWidth, upperCharWidth);
                pos += prevTokenWidth / 2 + baseGapWidth + currTokenWidth / 2;
                myData.push({
                    y: maxHeight,
                    x: pos,
                    name: gapName,
                    id: 'gap_' + mtLength.toString(),
                });
            }
        }

        option.series[0].data = myData;

        // links部分配置
        links = [];
        if (currTypeName === 'orig_align'){
            if(!domExists('srcMtAlignInput')){
                layer.alert('You need to provide src-mt.align.');
            }
            var srcMtAlign = str2Align($('#srcMtAlignInput').val());
            for(i=0;i<srcMtAlign.length;i++){
                align = srcMtAlign[i];
                a = align[0];
                b = align[1];
                links.push({
                    source: 'src_' + a,
                    target: 'mtword_' + b,
                });
            }
        }
        else if(currTypeName === 'refined'){
            if (!domExists('srcMtAlignInput') || !domExists('srcGapAlignInput')){
                layer.alert('You need to provide src-mt.align & src-gap.align.');
            }
            var srcMtAlign = str2Align($('#srcMtAlignInput').val());
            var srcGapAlign = str2Align($('#srcGapAlignInput').val(), true);

            for(i=0;i<srcMtAlign.length;i++){
                align = srcMtAlign[i];
                a = align[0];
                b = align[1];
                if(mtWordTags[b] === 'OK'){
                    if(expressAllAlignments){
                        links.push({
                            source: 'src_' + a,
                            target: 'mtword_' + b,
                            lineStyle: {width: 0.5, color: 'grey', type: 'dashed'}
                        });
                    }
                }
                else{
                    links.push({
                        source: 'src_' + a,
                        target: 'mtword_' + b,
                        lineStyle: {color: 'red', width: 1},
                    });
                }

            }
            for(i=0;i<srcGapAlign.length;i++){
                align = srcGapAlign[i];
                a = align[0];
                b = align[1];
                if(gapTags[b] === 'OK') continue;
                links.push({
                    source: 'src_' + a,
                    target: 'gap_' + b,
                    lineStyle: {color: 'purple'},
                });
            }
        }
        option.series[0].links = links;

        myChart.setOption(option);
    }

    function uri2Map(){
        var uri = location.search.substr(1);
        var dict = {};
        var kvs = uri.split('&');
        for(i=0;i<kvs.length;i++){
            item = kvs[i].split('=');
            dict[item[0]] = item[1];
        }
        return dict;
    }

    function map2Uri(obj){
        ans = '';
        keys = Object.keys(obj);
        for(i=0;i<keys.length;i++){
            ans += '&' + keys[i] + '=' + obj[keys[i]];
        }
        ans = ans.substr(1);
        return '?' + ans;
    }

    $(document).ready(function(){
        $('#toggleAdjustPanel').click(function(event){
            event.preventDefault();
            $('#adjustPanel').slideToggle();
        });

        $('#modeSwitchSelect').on('change', function(event){
            var newMode = $(this).val();
            uriMap = uri2Map();
            uriMap.typeName = newMode;
            var inputs = $('#adjustPanel input');
            for(i=0;i<inputs.length;i++){
                uriMap[$(inputs[i]).attr('id').replace('Input', '')] = $(inputs[i]).val();
            }
            location.search = map2Uri(uriMap);
        });

        var currGroupName = $('#groupNameInput').val();
        var currTypeName = $('#typeNameInput').val();
        var currIndex = parseInt($('#indexInput').val());
        $('#prevBtn').click(function(event){
            event.preventDefault();
            var newPoint = {
                groupName: currGroupName,
                typeName: currTypeName,
                index: currIndex - 1,
            }
            var inputs = $('#adjustPanel input');
            for(i=0;i<inputs.length;i++){
                newPoint[$(inputs[i]).attr('id').replace('Input', '')] = $(inputs[i]).val();
            }
            location.search = map2Uri(newPoint);
        });
        $('#nextBtn').click(function(event){
            event.preventDefault();
            var newPoint = {
                groupName: currGroupName,
                typeName: currTypeName,
                index: currIndex + 1,
            }
            var inputs = $('#adjustPanel input');
            for(i=0;i<inputs.length;i++){
                newPoint[$(inputs[i]).attr('id').replace('Input', '')] = $(inputs[i]).val();
            }
            location.search = map2Uri(newPoint);
        });
        $('#reloadBtn').click(function(event){
            event.preventDefault();
            loadMyChart(currTypeName);
        });

        loadMyChart(currTypeName);

        $(document).keyup(function(event){
            if(event.ctrlKey && event.keyCode === 13){
                loadMyChart(currTypeName);
            }
        });

        $('#jumpToBtn').click(function(event){
            event.preventDefault();
            var targetIndex = parseInt($('#jumpToInput').val()) - 1;
            var options = uri2Map();
            var inputs = $('#adjustPanel input');
            for(i=0;i<inputs.length;i++){
                options[$(inputs[i]).attr('id').replace('Input', '')] = $(inputs[i]).val();
            }
            options['index'] = targetIndex;
            location.search = map2Uri(options);
        });

    });
</script>
{% endblock %}